@model IEnumerable<CMSProject.Models.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/customer.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlogIndex</title>
</head>
<body>
    <section class="blog_area single-post-area padding_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        @foreach (var item in Model)
                        {
                            <article class="blog_item">
                                
                                <div class="blog_details">
                                    <a class="d-inline-block" href="#BlogDetail">
                                        <h2>@item.BlogTitle</h2>
                                    </a>
                                    <p>
                                        @Html.Raw(item.BlogContent)                                      
                                    </p>
                                    <p>
                                        @item.DateCreated
                                    </p>
                                    
                                </div>
                            </article>
                        }
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
