@model CMSProject.Models.OrderClients

@{
    ViewBag.Title = "ClientCartIndex";
    Layout = "~/Views/Shared/customer.cshtml";
}


@if (ViewBag.Error != null)
{
    <div class="modal-content" style="width:500px;margin:0px auto;">
        <div class="modal-header">
            <h2><strong>Error:</strong></h2>
        </div>
        <div class="modal-body">
            <p style="color:red;">@ViewBag.Error</p>
        </div>
    </div>
}

<div class="container" style="margin-top:50px;">
    @if (ViewBag.totalCart <= 0)
    {
        <text><h1 style="margin:50px 50%; font-weight:bold;">Empty</h1></text>
    }
    else
    {
        <div class="modal-body">
            @Html.Action("_ListCartClient", "Clients")
        </div>
        <div class="modal-footer">
            <table style="float:right;">
                <tr>
                    <th>Tổng thanh toán: </th>
                    <th style="color:red;">
                        @if (ViewBag.totalCart > 0)
                        {
                            @ViewBag.totalCart.ToString("#,###")
                        }
                        else
                        {
                            <text>0</text>
                        } VND
                    </th>
                    <td>
                        <button onclick="SaveToOrderDetail(@Model.OrderID)" class="btn btn-success">Đặt hàng</button>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
<script>
    function SaveToOrderDetail(id) {
        window.location.href = "/Home/SaveToOrder/" + id;
    }
</script>