@model IEnumerable<CMSProject.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/customer.cshtml";
    var lstCategories = ViewBag.lstCategories;
}

<style>
    .left_widgets p_filter_widgets {
        border: 1px solid red;
    }
</style>

<section class="cat_product_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Danh mục sản phẩm</h3><hr>
                        </div>
                        <div class="widgets_inner" style="height:300px; overflow-y:scroll;">
                            <ul class="list">
                                <li>
                                    <a href="/Clients/ProductIndex">Tất Cả Sản Phẩm</a>
                                </li>
                                @foreach (var lstC in lstCategories)
                                {
                                    <li>
                                        <a href="/Clients/ProductIndex/@lstC.CategoryID">@lstC.CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </aside>
                    <hr>

                </div>
            </div>


            <div class="col-lg-9">
                <div class="row search-parent">
                    <div class="col-lg-8 search-par">

                        <div class="single_product_menu d-flex search-child">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchByProductName" placeholder="search ..."
                                       aria-describedby="inputGroupPrepend">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">
                                        <i class="ti-search"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                </div>
                <div id="table-view" class="my-product">
                    @{
                        Html.RenderAction("_ProductIndex", new { page = 1 });
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.input-group > input').on('keydown', function (e) {
            let val;
            let id;
            let getData = $(this).closest('.input-group').parent('.search-child').parent('.search-par').parent('.search-parent').siblings('.my-product');/*siblings('.page-product').children('.my-product');*/
            if (event.keyCode == 8) {
                val = $(this).val();
                val = val.substr(0, val.length - 1);
            }
            else if (event.keyCode >= 8 && event.keyCode <= 90) {
                val = $(this).val() + String.fromCharCode(event.keyCode);
            }
            else {
                return;
            }

            val = val.toLowerCase();
            $.ajax({
                url: '/Clients/_ProductIndex',
                type: 'POST',
                dataType: 'html',
                data: { page: 1,  pageNumber: 1, pageSite: 12, searchByProductName:val},
            })
                .done(function (data) {
                    getData.html(data);
                    //console.log("success");
                })
                .fail(function () {
                    //console.log("error");
                })
                .always(function () {
                    //console.log("complete");
                });
        })
    })
</script>