@model IEnumerable<CMSProject.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin.cshtml";
}

<div id="table-view">
    @{ Html.RenderAction("_Index", new { page = 1 });}
</div>