
@{
    ViewBag.Title = "HuongDanMuaHang";
    Layout = "~/Views/Shared/customer.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        p {
            border: none;
            width: 1570px;
            text-indent: -2px;
            line-height: 37px;
            font-size: 2px;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <h2>Hướng Dẫn Mua Hàng</h2>
    <p>
        <i class="material-icons">attachment</i>&nbsp;&nbsp;Bước 1: Lựa chọn khu vực quý khách muốn mua hàng
        </br>

        <i class="material-icons">attachment</i>&nbsp;Bước 2: Đăng nhập/ Đăng ký tài khoản của quý khách trên website cửa hàng
        </br>

        <i class="material-icons">attachment</i>Bước 3: Tìm kiếm sản phẩm</br>
        – Gõ tên sản phẩm trên công cụ tìm kiếm</br>

        – Tìm theo danh mục</br>Bước 4: Chọn sản phẩm cần mua, trong trang thông tin chi tiết của sản phẩm, lựa chọn số lượng và ấn “Thêm vào giỏ hàng”
        </br>
        <i class="material-icons">attachment</i> Bước 5: Xác nhận lại giỏ hàng và bấm vào “Tiến hành thanh toán”</br>
        <i class="material-icons">attachment</i> Bước 6: Trong trang thanh toán, điền thông tin giao hàng và chọn hình thức giao hàng</br>
        <i class="material-icons">attachment</i> Bước 7: Đặt hàng thành công.</br>
    </p>
</body>
</html>



