@model IEnumerable<CMSProject.Models.Category>

@{

    Layout = "~/Views/Shared/admin.cshtml";
}

<p>
    <a href="/Categories/Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>Cập nhật</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("  ", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-warning fa fa-pencil" })
                @*@Html.ActionLink("  ", "Details", new { id = item.CategoryID }, new { @class = "btn btn-info fa fa-info-circle" })*@
            </td>
        </tr>
    }
</table>
