
@{
    ViewBag.Title = "ChinhSachBaoHanh";
    Layout = "~/Views/Shared/customer.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        p {
            border: none;
            width: 1570px;
            text-indent: -2px;
            line-height: 37px;
            font-size: 2px;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <h2>Chính sách bảo hành</h2>
    <p>
        <i class="material-icons">cloud</i>&nbsp;&nbsp;Quy trình bảo hành/ bảo trì sản phẩm</br>

        <i class="material-icons">attachment</i>Chính sách bảo hành được áp dụng chung cho cả cửa hàng.</br>
        Người Bán có trách nhiệm tiếp nhận bảo hành sản phẩm, dịch vụ cho Người Mua như trong cam kết giấy bảo hành sản phẩm.
        Người Mua luôn giữ giấy bảo hành và có quyền đến tận nơi cung cấp sản phẩm để bảo hành hoặc yêu cầu đến tận nhà bảo trì đối với sản phẩm cố định sử dụng tại nhà.
        Người Mua có quyền khiếu nại, khiếu kiện Người Bán trong trường hợp Người Bán từ chối bảo hành bảo trì sản phẩm khi đang còn trong thời hạn bảo hành bảo trì ghi trên giấy bảo hành.
        Cửa hàng TÍnh Chụp khuyến cáo Người Mua hàng cần kiểm tra các chính sách bảo hành, bảo trì đối với hàng hóa của Người Bán mà Người Mua có dự định mua. Cửa hàng sẽ không chịu trách nhiệm chính trong việc bảo hành bất kỳ sản phẩm nào của Người Bán. Cửa hàng chỉ hỗ trợ trong khả năng cho phép để sản phẩm của Người Mua được bảo hành theo chế độ của Người Bán.
        Điều kiện bảo hành đối với hàng hóa
        Còn thời hạn bảo hành (dựa trên tem/phiếu bảo hành/hoặc thời điểm kích hoạt bảo hành điện tử)
        Còn tem/phiếu bảo hành, Phiếu bảo hành phải còn nguyên vẹn, không chấp vá, bôi xóa, sửa chữa.
        Sản phẩm bị lỗi kỹ thuật.
        Bảo hành không bao gồm các vấn đề do va chạm hoặc rơi, biến dạng, trầy xước, ẩm ướt, rỉ sét... Thiết bị có dấu hiệu cháy, gặm nhấm, côn trùng xâm nhập hoặc được sử dụng trong môi trường ẩm ướt. Thiệt hại do thiên tai, sử dụng nguồn điện không ổn định hoặc vận chuyển không đúng cách. Không bảo hành cho các phụ kiện như bộ sạc, vỏ, công tắc, dây điện, điều khiển từ xa.
    </p>
</body>
</html>

