
@{
    ViewBag.Title = "ChinhSachDoiTra";
    Layout = "~/Views/Shared/customer.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        p {
            border: none;
            width: 1570px;
            text-indent: -2px;
            line-height: 37px;
            font-size: 2px;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <h2>Chính Sách Đổi Hàng</h2>
    <p>
        <i class="material-icons">cloud</i>&nbsp;&nbsp;Chính sách đổi/ trả hàng và hoàn tiền</br>

        <i class="material-icons">attachment</i>Chính sách đổi/ trả hàng và hoàn tiền được áp dụng chung cho cả Công ty và Người Bán.</br>

        <i class="material-icons">attachment</i>Điều kiện đổi/ trả hàng và hoàn tiền</br>
        Khách hàng có thể đề nghị đổi/ trả lại hàng và hoàn tiền trong các trường hợp sau:

        Khách hàng đã thanh toán nhưng không nhận được hàng sau khi hết thời hạn giao hàng được quy định trong mục Chính sách giao hàng hoặc hết thời hạn giao hàng mà Cửa hàng đã thông báo trước đó.
        Hàng hóa bị lỗi, bể, vỡ trong quá trình vận chuyển.
        Hàng hóa được giao không đúng với yêu cầu trong đơn đặt hàng của khách hàng (sai mã, sai kích thước, sai màu sắc v.v)
        Hàng hóa được giao không đúng với thông tin mà người bán cung cấp
        Người bán đồng ý cho khách hàng trả lại hàng (tuy nhiên, Cửa hàng sẽ yêu cầu người bán xác nhận)
        Các sản phẩm được đổi hoặc trả hàng phải còn nguyên hộp, nguyên tem mác.
        Không nhận đổi trả hàng đối với hàng đặt thiết kế riêng & hàng đã dừng sản xuất nhưng khách đặt sản xuất lại.
        Thời gian áp dụng chính sách đổi/ trả hàng và hoàn tiền
        Khách hàng phải thông báo cho cửa hàng về việc đổi/ trả hàng trong vòng 15 ngày làm việc kể từ ngày cửa hàng nhận được thông báo về việc đổi trả hàng từ khách hàng.

        Quy trình xử lý đổi/ trả hàng và hoàn tiền
        Quý khách liên hệ trực tiếp với quản lý  Cửa hàng qua số điện thoại: 0987237158 để thông báo về tình trạng hàng hóa sau khi nhận hàng.
        Cửa hàng khuyến khích Người Bán và Người Mua tự thương lượng về khiếu nại của nhau. Trường hợp hai bên không tự thương lượng được, cùng đồng thuận yêu cầu cửa hàng đưa ra phân xử. Phán quyết của Cửa Hàng là kết quả cuối cùng.
        Người Bán và Người Mua tự thương lượng về hình thức trả hàng/ đổi hàng/ bổ sung hàng. Tuy nhiên trường hợp do lỗi từ Người Bán, sản phẩm của người bán, Người bán chịu trách nhiệm đến bảo hành tận nơi hoặc Người Mua gửi sản phẩm cho Người Bán để bảo hành với chi phí do Người Bán chịu. Người Bán thực hiện hoàn tiền cho Người mua thông qua chuyển khoản hoặc tiền mặt tùy vào thỏa thuận các bên.


        Hoàn tiền:

        Cửa hàng sẽ hoàn tiền cho người mua khi người bán xác nhận đã nhận được hàng trả lại.
        Nếu hết thời hạn 30 ngày, kể từ ngày người bán xác nhận đã nhận được hàng trả lại từ người mua, hoặc kể từ ngày người mua cung cấp thông tin chứng minh được rằng có đủ điều kiện hoàn trả hàng và thực tế đã hoàn trả hàng đúng và đủ cho người bán, mà người bán không phản hồi, không hoàn tiền cho người mua thì Cửa Hàng sẽ hoàn lại tiền cho người mua mà không cần thông báo thêm. Tùy thuộc vào từng hoàn cảnh, khoản hoàn trả sẽ được chuyển vào thẻ tín dụng/ tài khoản ngân hàng của người mua.
        Ghi chú: Đối với các đơn đặt hàng COD, người mua có trách nhiệm cung cấp thông tin tài khoản ngân hàng để nhận tiền hoàn lại.
    </p>
</body>
</html>

