
@{
    ViewBag.Title = "ChinhSachBaoMat";
    Layout = "~/Views/Shared/customer.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        p {
            border: none;
            width: 1570px;
            text-indent: -2px;
            line-height: 37px;
            font-size: 2px;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <h2>Chính Sách Bảo Mật</h2>
    <p>
        <i class="material-icons">cloud</i>&nbsp;&nbsp;Bạn hoàn toàn có thể yên tâm về các thông tin của mình trên cửa hàng bởi chúng tôi ưu tiên hàng đầu trong việc bán hàng, dịch vụ tại website. Bạn vui lòng đọc bản “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập:
        </br>

        <i class="material-icons">attachment</i>&nbsp;Thu thập thông tin cá nhân: Để truy cập và sử dụng một số dịch vụ tại cửa hàng, bạn có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp, Chúng tôi không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.
        </br>

        <i class="material-icons">attachment</i>Chúng tôi cam kết bảo vệ các thông tin riêng tư của khách hàng thông qua hệ thống bảo mật của website, không sử dụng nó vì mục đích thương mại hay bất cứ mục đích nào khác. Chúng tôi sử dụng các biện pháp an ninh bảo mật thông tin để chống mất mát, nhầm lẫn hoặc thay đổi dữ liệu trong hệ thống.</br>
        Khách hàng có thể đề nghị đổi/ trả lại hàng và hoàn tiền trong các trường hợp sau:</br>
        <i class="material-icons">attachment</i>– Chúng tôi cam kết sẽ chỉ sử dụng thông tin để nhằm tạo môi trường mua sắm an toàn, tiện lợi, chuyên nghiệp và nâng cao chất lượng dịch vụ chăm sóc khách hàng. Ngoài ra, những thông tin cũng chỉ được chúng tôi dùng trong việc giải quyết các vấn đề liên quan tới tranh chấp phát sinh trong việc mua bán, thanh toán qua website, và ngăn chặn những hoạt động vi phạm pháp luật Việt Nam.
        </br>
        <i class="material-icons">attachment</i> Chúng tôi cam kết không chia sẻ, bán hoặc cho thuê thông tin cá nhân với bất cứ ai, bất cứ hình thức nào. Thông tin của quý khách gửi cho chúng tôi chỉ do nhân viên tuceramic.com quản lý và sử dụng cho mục đích liên hệ hoặc gửi email để cung cấp thông tin cho quý khách.</br>


        – Chúng tôi cam kết không chia sẻ, bán hoặc cho thuê thông tin cá nhân với bất cứ ai, bất cứ hình thức nào. Thông tin của quý khách gửi cho chúng tôi chỉ do nhân viên tuceramic.com quản lý và sử dụng cho mục đích liên hệ hoặc gửi email để cung cấp thông tin cho quý khách.</br>

        Chúng tôi sẽ gửi các thông tin cá nhân về quý khách cho các công ty hoặc các cá nhân khác trong trường hợp:</br>
        +/ Chúng tôi được quý khách đồng ý cho tiết lộ thông tin đó.
        +/ Chúng tôi cần tiết lộ thông tin của quý khách để cung cấp các sản phẩm hoặc dịch vụ liên quan tới việc liên lạc với quý khách.</br>
        +/ Chúng tôi tuân theo các trát lệnh, lệnh tòa án hoặc thủ tục pháp lý.</br>
        +/ Chúng tôi thấy rằng các hành động của quý khách trên các trang web của chúng tôi là vi phạm các quy định hướng dẫn sử dụng của chúng tôi đối với các sản phẩm hoặc dịch vụ nhất định.<br />

        – Thay đổi về chính sách: Nội dung của “Chính sách bảo mật” này có thể thay đổi để phù hợp với các nhu cầu của cửa hàng  cũng như nhu cầu và sự phản hồi từ khách hàng nếu có. Khi cập nhật nội dung chính sách này, chúng tôi sẽ chỉnh sửa lại thời gian “Cập nhật lần cuối” bên trên. Nội dung “Chính sách bảo mật” này chỉ áp dụng tại website cửa hàng, không bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có links tại website . Do đó, chúng tôi đề nghị bạn đọc và tham khảo kỹ nội dung “Chính sách bảo mật” của từng website mà bạn đang truy cập.</br>

        – Thông tin liên hệ: Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ bạn về “Chính sách bảo mật” này.<br />
    </p>
</body>
</html>



