
@model PagedList.IPagedList<CMSProject.Models.Product>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin.cshtml";
}

<div id="product_area">
    @{Html.RenderAction("GetPaging", "Products", new { Page = 1 }); }
</div>

