@model CMSProject.Models.GoodsReceipt
@{
    ViewBag.Title = "AddGoodsReceipt";
    Layout = "~/Views/Shared/admin.cshtml";
}


<div class="row search-par">
    <div class="col-md-6 search-child" style="margin-top:20px;">
        <div class="search-zone" style="float:right;border:1px solid #000000;margin-bottom: 13px;">
            <input type="text" name="maSP" placeholder="Mã sản phẩm ..." /> <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true" style="font-weight:bold;"></i></button>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
<div class="row pro-view">
    <div class="col-md-6 pro-child" style="border:1px solid #808080;height:500px; margin-top:20px;overflow:auto;">
        @Html.Action("LstPro", "GoodsReceipts")
    </div>
    <div class="col-md-6" style="border:1px solid #808080;height:500px; margin-top:20px;overflow:auto;">
        @Html.Action("LstGoodsReceipt", "GoodsReceipts")
    </div>
</div>
<div class="modal-footer">
    <table>
        <tr>
            <th>Tổng tiền: </th>
            <th style="color:red;">@ViewBag.totalGoodsReceiptDetail.ToString("#,###") VND</th>
            <td>
                <button onclick="LuuVao(@Model.GoodsReceiptID)" class="btn btn-primary">Lưu phiếu</button>
            </td>
        </tr>
    </table>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.search-zone > input').on('keydown', function (e) {
            let val;
            let getData = $(this).closest('.search-zone').parent('.search-child').parent('.search-par').siblings('.pro-view').children('.pro-child')/*siblings('.page-product').children('.my-product');*/
            if (event.keyCode == 8) {
                val = $(this).val();
                val = val.substr(0, val.length - 1);
            }
            else if (event.keyCode >= 8 && event.keyCode <= 90) {
                val = $(this).val() + String.fromCharCode(event.keyCode);
            }
            else {
                return;
            }
            val = val.toLowerCase();
            $.ajax({
                url: '/GoodsReceipts/LstPro',
                type: 'POST',
                dataType: 'html',
                data: { maSP: val },
            })
                .done(function (data) {
                    getData.html(data);
                    //console.log("success");
                })
                .fail(function () {
                    //console.log("error");
                })
                .always(function () {
                    //console.log("complete");
                });
        })
    })
</script>
<script>
    function LuuVao(id) {
        var f = confirm("Lưu vào kho?");
        if (f == true) {
            window.location.href = "/GoodsReceipts/SaveGoodsReceiptToDb/" + id;
        }
    }
</script>