
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/customer.cshtml";
}

<style>
    .footer_part {
        margin-top: 200px;
    }
</style>
<h2>Contact</h2>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.081251881219!2d106.80822481488138!3d20.911440086062047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a640717d0701d%3A0xaebf770557273e98!2zQ-G6qW0gTGEsIFnDqm4gSMawbmcsIFF14bqjbmcgTmluaCwgVmlldG5hbQ!5e1!3m2!1sen!2s!4v1574502298510!5m2!1sen!2s" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>